body {
  background: #0f0f0f;
  color: #00ffcc;
  font-family: Arial;
}

h1 {
  text-align: center;
}

textarea {
  width: 100%;
  height: 100px;
  background: black;
  color: #00ffcc;
}

button {
  padding: 10px;
  margin: 5px;
  background: #00ffcc;
  border: none;
}

pre {
  background: #111;
  padding: 10px;
}
