body {
  margin: 0;
  background: #0f0f0f;
  font-family: Arial;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* TOPO */
.header {
  padding: 15px;
  background: #0f0f0f;
  border-bottom: 1px solid #222;
  text-align: center;
}

/* CHAT */
.chat {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
}

/* MENSAGENS */
.msg {
  max-width: 60%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.user {
  background: #00ffc3;
  color: black;
  margin-left: auto;
}

.ai {
  background: #1e1e1e;
}

/* INPUT */
.input-area {
  display: flex;
  padding: 10px;
  background: #0f0f0f;
  border-top: 1px solid #222;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

/* BOTÕES */
button {
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
}

/* AÇÕES */
.actions {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}
