body {
  background: #0f0f0f;
  color: white;
  font-family: Arial;
  text-align: center;
}

#chat {
  height: 400px;
  overflow-y: auto;
  background: #1a1a1a;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

input {
  width: 60%;
  padding: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  background: #00ffcc;
  border: none;
}
